.main-container {
    padding:0px 16px 0 0;
    height: 100vh;
}

.search-container {
    width: 100%;
    margin: 0 auto;
    padding: 36px;
    background-color: rgb(247, 247, 247);
    border-radius: 8px 8px 0px 0px;
    /* border: 2px solid rgb(241, 241, 241); */
    border-bottom: none;
}

.weather-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    /* padding: 0 36px; */
    background-color: rgb(250, 250, 250);
    border-radius: 0px 0px 8px 8px;
    /* border: 2px solid rgb(241, 241, 241); */
    /* border-top: none; */
}

.left-wrapper {
    padding: 36px 0 48px;
}

.title-section {
    padding: 0 0 48px;
}

.title-section h1 {
    margin: 0;
    color: rgb(53, 53, 53);
    font-weight: 800;
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date-section {
    padding: 4px 0 16px;
}

.date-section p {
    margin: 0;
    font-size: 21px;
    font-weight: 600;
    color: rgb(83, 83, 83);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heat-section {
    display: flex;
    justify-content: center;
}

.first-write {
    font-size: 55px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.third-write {
    font-size: 22px;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.weather-section {
    display: flex;
    justify-content: center;
}

.weather-section p {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 24px;
}

.location-section {
    padding: 48px 0 0px;
}

.location-icon {
    color: rgba(240, 6, 6, 0.712);
    font-size: 32px !important;
}

.location-span {
    font-size: 21px;
    font-family: 700;
}
.weather-box{
    padding: 0 36px;
}
.today-h4{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 0 36px;
}

.info-box-weather{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin-bottom: 16px;
}
.search-box-wrapper {
    position: relative;
    display: flex;
    justify-content:start;
    align-items: center;
    /* background-color: #3498db79; */
    padding: 36px 0 48px;
}
.icon-weather{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-weather svg{
    font-size: 35px;
    margin: 28px;
}
.write-key{
    color: gray;
    font-weight: 600;
    padding: 4px 0 0px;
    font-family: monospace;
}
.write-value{
    color: #353535;
    font-size: 34px;
    font-weight: 600;
    font-family: monospace;
}
.table-wrapper{
    padding: 24px 0 45px ;
}
.table-title{
    margin: 0;
    font-size: 23px;
    font-weight: 600;
    padding-bottom:32px ;
}
.table-box{
    padding: 8px 0;
}
.color{
    background: linear-gradient(to bottom right, #001931, #00396e);
}
.search-inp {
    width: 60%;
    outline: none;
    border: none;
    padding: 18px 12px;
    border-radius: 4px;
    font-size: 19px;
    font-weight: 600;
    background-color: rgb(248, 248, 248);
    font-family: monospace;
}
.right-container{
    padding: 36px 28px;
    height: 100% !important;
}
.rain-table-title{
    color: white;
    font-size: 18px;
    padding:21px 0 32px;
    font-weight: 600;
}
.top-box{
    background-color: rgba(252, 252, 252, 0.425);
    border-radius: 16px;
    height: 19px;
    margin-top: 6px;
}
.down-box{
    width: 68%;
    background-color: rgb(8, 177, 255);
    border-radius: 16px;
    height: 19px;
    color: transparent;
    margin-top: 6px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-bottom: 24px;
}
.search-btn {
    width: 16%;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #007bff;
    font-weight: 800;
    font-size: 17px;
}

.weather-img-container {
    padding: 56px 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-img-container img {
    border-radius: 50%;
    width: 38%;
    object-fit: cover;
    padding-right: 16px;
}
.location-box-wrapper{
    display: flex;
    justify-content: start;
}
.location-box{
    display: flex;
    justify-content: center;
    width: 50%;
    box-shadow: rgba(0, 109, 233, 0.3) 0px 0px 0px 3px;
    border-radius: 4px;
    margin-top: 92px;
    background-color: #8a8a8a7e;
    padding: 16px;
    color: white;
}
.info-wrapper {
    padding: 150px 0 150px 24px;
}

.info-ul {
    margin: 0;
    padding: 0;
}

.info-ul li {
    padding-bottom: 32px;
}

.info-span-first {
    font-size: 19px;
    font-weight: 700;
    padding-right: 8px;
}

.info-span-second {
    font-size: 19px;
    font-weight: 500;
    color: rgb(87, 87, 87);
}

.loading-wrapper {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    border: 8px solid #d4d4d4;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.information-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}

.information-box {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 60%;
    height: 18%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    color: rgb(43, 43, 43);
    font-weight: 700;
    font-size: 18px;
}
.info-warning-icon{
    display: flex;
    align-items: center;
    color: #0096fa;
    font-size: 34px !important; 
    margin-right: 12px;
    margin-bottom: 5px;
}
.info-edit-icon{
    display: flex;
    align-items: center;
    color: #0096fa;
    font-size: 34px !important; 
    margin-right: 12px;
    margin-bottom: 5px;
}
#edit-info{
    color: #007bff;
}
.edit-info-btn{
    border: none;
    border-radius: 50%;
    padding: 12px;
    margin-right: 12px;
    transition: 0.5s ease;
    background-color: white;
}
.edit-info-btn:hover{
    background-color: #cecece;
}

#suggestionsList {
    position: absolute;
    width: 60%;
    top: 98px;
    max-height: 530px;
    overflow-y: auto;
    border: 1px solid #F7F7F7;
    background-color: rgb(248, 248, 248) !important;
    z-index: 999;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    font-family: monospace;
  }

  #suggestionsList div {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: monospace;
  }
  #suggestionsList::-webkit-scrollbar {
    display: none;
  }
  .data-div{
    border-bottom: 1px solid rgb(211, 211, 211);
    color: #363636;
    font-weight: 600;
  }