@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
}
body {
  font-family: monospace;
}

@media (max-width : 1400px){
  .first-write {
    font-size: 48px !important;
}

.third-write {
    font-size: 20px !important;
}
.weather-img-container {
  padding: 52px 0 14px !important;
}

.weather-img-container img {
  padding-right: 12px !important;
}

.location-box{
  width: 70% !important;
  margin-top: 74px !important;
  padding: 13px !important; 
  color: white;
}
.location-section {
  padding: 48px 0 0px;
}

.location-icon {
  font-size: 24px !important;
}

.location-span {
  font-size: 18px !important;
}
}

@media (max-width : 768px){
  .write-key{
    padding: 3px 0 0px !important;
    font-size: 15px !important;
}
  .write-value{
    color: #353535;
    font-size: 24px !important;
}
.icon-weather svg{
  font-size: 30px !important;
  margin: 13px !important;
}
}
@media (max-width : 576px){
  .write-key{
    padding: 3px 0 0px !important;
    font-size: 13px !important;
}
  .write-value{
    font-size: 14px !important;
}
.icon-weather svg{
  font-size: 26px !important;
  margin: 5px !important;
}
}